/* General CSS */

body {
    font-family: Helvetica, sans-serif
}

.red {
    height: 50px;
    text-align: center;
    color: white;
}



/* header area of the website */

.header {
    padding: 20px;
    background-color: #21242A;
}

.button {
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 0;
}



/* Second Header */

.subhead {
    color: white;
}

.content {
    margin-top: 50px;
    background-color:#21242A;
    padding: 10px;
};

.box {
    padding-top: 40px;
    margin-top: 40px;
}

/* Main Content Area */

.content2 {
    margin-top: 40px;
    height: 600px;
    background-color: #21242A;
}

.content3 {
    padding-top: 30px;
}

.white-box {
    background-color: white;
    height: 500px;
}