<!--
  404 not found page
-->
<div class="hero-body has-text-centered">
  <h1 class="title">404 Not Found</h1>
  <a href="/">← Back To Home</a>
</div>
<div class="container">
  <img src="/images/icerink.png" alt="hockey img">
</div>
