<!--
    HTML for lobby page here
    TEMP HTML


-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <link rel="stylesheet" href="../public/styles/kyle.css" media="screen" title="no title" charset="utf-8">
  <title>lobby Page</title>
</head>

<body>
 
    <section class="section">
        <div class="wrapper container">
            <div class="columns">
                <div class="column top">
                        <h1 id="welcomefont">Welcome To NHL Fantasy Draft</h1>
                        <p class="pclass1">log in to begin constructing your Team!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="wrapper container">

            <div class="columns">
                <div class="column">
                    <div class="rulesection">
                        <h3 class="h3head">Rules:</h3>
                        <br>
                        <p class="pclass">Choose from the list of players below to make a team of 5 skaters. Your challenge is to build your team within</p>
                        {{!-- <br> --}}
                        <p class="pclass">the salary cap of $30 million. Compete against other challengers to see where you rank on the leaderboard.</p>
                    </div>
                </div>

    
                <div class="column">
                    <h3 class="h3head">leaderboard</h3>
                    <table class="table lobbytable">
                        <thead class="tabletable">             
                            <br>                         
                            <tr>
                            <th class="padd">Team Name</th>
                            <th class="padd">Total Points</th>
                            <th class="padd">Salary</th>
                            </tr>
                        </thead>
                        
                
                        <div class = "co">
                            <form method="GET" action="/lobby/update?_method=GET" class="button-size">
                                <input type="hidden" name="teams" type="text"
                                value={{this.id}}>
                                
                            </form>
                        </div>                                        
                    
                    </table>
                </div>
            </div>
        </div>
    </section>

        
        
        
    

    {{#each teamName}}
        <h2>Team Name: {{this.teamname}}</h2>
    {{/each}}

    <section class="section">
        <div class=" wrapper container">
    
            <div class="coloumns">
                <div class="column">

                </div>
                <div class="column">
                    <a class="aclass toolbox" href="/signin"><button id="signin">Sign In</button></a>
                    <a class="aclass toolbox" href="/signup"><button id="signup">Sign Up</button></a>
                </div>
                <div class="coloumn">

                </div>
            </div>
        </div>
    </section>


</body>

</html>
