<!--
    handlebar for the login/create user page
-->
<h1>LOGIN PAGE TEST</h1>
<input type="text" id="usernameInput">username</input>
<input type="text" id="passwordInput">password</input>
<a href="/profile/testuser"><button id="submit">Login</button></a>