<!--
    TODO:
    This is the user profile page
    - Show Username
    - Manage Team
        - Create Team
        - Edit Team
    - Team Stat
        - Ranking
        - Win/Lose ratio
-->
<h1>This is the profile page of {{userName}}</h1>