/*main css file for common pages*/
body{
    color: white;
    background-image: url("/images/icerink.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
table{
    border-collapse: collapse;
}

td,th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #dddddd;
    color: black;
}

hr{
    border: 1px solid red;
}

.header{
    padding: 20px;
    background-color: #21242A;
    text-align: center;
    margin-bottom: 5vh;
}

.content{
    background-color:#21242A;
    padding: 10px;
    opacity: 0.8;
}

.chrome{
    position: relative;
    background: linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #f5f5f5;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    margin: 0;
    line-height: 1;
    background-position: center;
}

.dreams {
    position: relative;
    margin: 0px;
    font-family: 'Mr Dafoe', cursive;
    color: #F975F7 ;
    -webkit-text-stroke: 1px #f008b7;
    -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
}
