<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<body>

        <header>
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <div class = "headercontainer">
                        <h1><strong>NHL Fantasy Draft</strong></h1>
                    </div>
                </div>
            </div>
        </header>


        <div class="row">
            <div class="col-md-12 col-sm-6">
                <h2>Create your best NHL first line!</h2>
                <h3>Rules:</h3>
                <h4>Choose from the list of players below to make a team of 5 skaters. Your challenge is to build your team within</h4>
                <h4>the salary cap of $30 million. Compete against other challengers to see where you rank on the leaderboard.</h4>
            
                <br>
                <button id="userLogin" type="submit">Sign Up</button>
            </div>
        </div>

    
        <div class="row">      
            <div class="col-md-6 col-sm-6">
                <table class = "playerTable">
                        <tr><th>Available Players</th></tr>
                        <br>
                        <th>Player Name</th><th>Salary</th><th>Goals</th><th>Assists</th><th>Points</th>
                </table>
                <br><br>
            </div>

            <div class="col-md-6 col-sm-6">
                    <table class = "leaderTable">
                            <tr><th>Leaderboard</th></tr>
                            <br>
                            <th>User Name</th><th>Salary Used</th><th>Team Goals</th><th>Team Assists</th><th>Team Points</th>
                    </table>
                    <br><br>
            </div>
        </div>


</body>

</html>