<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <title>Draft Your Team</title>
</head>

<body>

<nav class="level is-mobile">
        <div class="level-item">
            <div>
                <p class="title">NHL Fantasy Draft</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <a href="/home"><p class="title">Return To Lobby</p></a>
            </div>
        </div>
</nav>

<div class = "banner is-mobile">
    <div class="columns">
        <div class="column is-4">
            <h3>Total Spent:</h3><h3 id = "totalSalary"><!-- Append Total Salary--></h3>
        </div>
        <div class="column is-4">
                <h3>Total Points:</h3><h3 id = "totalPoints"><!-- Append Total Points--></h3>
        </div>

    </div>
</div>

<div class = "icecontainer">
    <div class = "icebackground"></div>

    <div class = "row">   
        <div class="columns">
                <div class="column is-6">
                    <div class="row">
                            <div class="columns">
                                <div class="column is-6">
                                    <table class="table player1Table">
                                            <thead>                                              
                                                <tr><th>Player 1</th></tr>
                                                <th>Name</th>
                                                <th>G</th>
                                                <th>A</th>
                                                <th>Pts</th>
                                            </tr>
                                            </thead>
                                            <!-- Append Player 1 Table-->
                                    </table>
                                    <input class="button" type="submit" value="Remove Player">
                                </div>

                                <div class="column is-6">
                                    <table class="table player2Table">
                                            <thead>
                                                <tr><th>Player 2</th></tr>
                                                <th>Name</th>
                                                <th>G</th>
                                                <th>A</th>
                                                <th>Pts</th>
                                            </tr>
                                            </thead>
                                            <!-- Append Player 2 Table-->
                                    </table>
                                    <input class="button" type="submit" value="Remove Player">
                                </div>
                            </div>
                    </div>

                    <br><br><br>
                    <div class="row">    
                            <div class="columns">
                                    <div class="column is-6 is-offset-2">
                                        <table class="table player3Table">
                                            <thead>
                                                <tr><th>Player 3</th></tr>
                                                <th>Name</th>
                                                <th>G</th>
                                                <th>A</th>
                                                <th>Pts</th>
                                            </tr>
                                            </thead>
                                            <!-- Append Player 3 Table-->
                                        </table>
                                        <input class="button" type="submit" value="Remove Player">
                                    </div>
                            </div>
                    </div>
                    <br><br><br>
                    <div class="row">
                            <div class="columns">
                                    <div class="column is-6">
                                        <table class="table player4Table">
                                            <thead>
                                                <tr><th>Player 4</th></tr>
                                                <th>Name</th>
                                                <th>G</th>
                                                <th>A</th>
                                                <th>Pts</th>
                                            </tr>
                                            </thead>
                                            <!-- Append Player 4 Table-->
                                        </table>
                                        <input class="button" type="submit" value="Remove Player">
                                    </div>

                                    <div class="column is-6">
                                        <table class="table player5Table">
                                            <thead>
                                                <tr><th>Player 5</th></tr>
                                                <th>Name</th>
                                                <th>G</th>
                                                <th>A</th>
                                                <th>Pts</th>
                                                </tr>
                                            </thead>
                                            <!-- Append Player 5 Table-->
                                        </table>
                                        <input class="button" type="submit" value="Remove Player">
                                    </div>
                            </div>
                    </div>

            </div> 
            <div class="column is-6">
                    <table class="table playerTable">
                            <thead>
                                <tr><th>Available Players</th></tr>
                                <th><abbr title="Number">#</abbr></th>
                                <th>Name</th>
                                <th>Goals</th>
                                <th>Assists</th>
                                <th>Points</th>
                                <th>Salary</th>
                                <th>Is Chosen</th>
                              </tr>
                              
                            </thead>
                            <!-- Append Player Table-->
                            
                    </table>
                    <input class="button" type="submit" value="Select Player">
            </div>

        </div>
    </div>

</div>
<script src="style.js"></script>
</body>

</html>